@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 85px;
}

.card {
  width: 258px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  color: black;
}

.card > img {
  width: 100%;
}

.card > div {
  display: flex;
  justify-content: space-between;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  text-align: center;
}

.about-page {
    text-align: center;
}

.contact-page {
  text-align: center;
}

.search-container {
  margin: 10px;
  padding-top: 10px;
}

.error-message {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
} */
